<main class="h-screen flex-col">
    <section class=" flex justify-around lg:justify-start items-center sm:absolute w-screen mt-8 ">
        <section class="flex">
            <img class="h-8 mr-4" src="../../../assets/hands.png " />
            <h2 class="text-3xl font-extrabold text-blue-500 " >Help Me</h2>
        </section>
  
        <a (click)="navigateToLogin()" class="text-lg text-blue-400 cursor-pointer lg:ml-8">Login</a>
    </section>
    <section class="flex flex-col items-center h-screen sm:justify-center sm:flex-row">
        <section class="flex-1 text-center mt-20 -mb-20 sm:mt-0 sm:-mb-0 ">
            <h2 class="text-2xl text-purple-800 pr-8 pl-8">I am having a mental health CRISIS</h2>
            <p class="mt-4">Designed primarily as an “SOS” (distress signal) to a selected circle of trusted people when someone is going through a mental health crisis.</p>
            <p class="text-blue-400 mt-4">Register for the Beta</p>
        </section>
        <section class="flex-1 text-center ">
            <img class="h-auto mr-4" src="../../../assets/help-showcase.png " />
        </section>
    </section>
</main>
