<main class="h-screen flex flex-col">
    <section class=" flex justify-around lg:justify-start items-center absolute w-screen mt-8 ">
        <section class="flex">
            <img class="h-8 mr-4" src="../../../assets/hands.png " />
            <h2 class="text-3xl font-extrabold text-blue-500 " >Help Me</h2>
        </section>
  
        <a (click)="navigateToLogin()" class="text-lg text-blue-400 cursor-pointer lg:ml-8">Login</a>
    </section>
    <section id="content">
        <section id="left"></section>
        <section id="right"></section>
    </section>
</main>
