<main class="flex flex-col justify-around h-screen text-center  lg:bg-contain lg:bg-no-repeat">
    <h2 class="text-3xl text-black dark:text-white">Welcome</h2>
    <h3 *ngIf="stage === 1" class="text-base -mt-20 -mb-20 text-black dark:text-white" >We just have a few things to setup</h3>
    <h3 *ngIf="stage === 2" class="text-base -mt-20 -mb-20 text-black dark:text-white">Lets get your phone number to easily connect you with others</h3>
    <h3 *ngIf="stage === 3 " class="text-base -mt-20 -mb-20 text-black dark:text-white" >Let's make some connections</h3>

    <section *ngIf="stage === 1" class="flex flex-col items-center">
        <app-login-inputs [title]="titleFirstName" (getUserInput)="getFirstName($event)"></app-login-inputs>
        <app-login-inputs [title]="titleLastName" (getUserInput)="getLastName($event)"></app-login-inputs>
    </section> 

    <section *ngIf="stage === 2" class="flex flex-col items-center">
        <app-login-inputs [title]="titlePhone" (getUserInput)="getPhone($event)"></app-login-inputs>
    </section> 

    <h2 class="text-3xl cursor-pointer  text-black dark:text-white" (click)="goToNextSetupStage()">Next</h2>
</main>