<main class="flex w-full justify-around">
    <section class="text-gray-300 text-sm">
        <a [routerLink]="['/feed']" routerLinkActive="border-black border-b-2 pb-1 text-black">
            Feed
        </a>
    </section>
    <section class="text-gray-300 text-sm">
        <a [routerLink]="['/message']" routerLinkActive="border-black border-b-2 pb-1 text-black">
            Messages
        </a>
    </section>
    <section class="text-gray-300 text-sm">
        <a [routerLink]="['/connections']" routerLinkActive="border-black border-b-2 pb-1 text-black">
            Connections
        </a>
    </section>
    <section class="text-gray-300 text-sm">
        <a [routerLink]="['/support']" routerLinkActive="border-black border-b-2 pb-1 text-black">
            Support
        </a>
    </section>
</main>