<main class="flex flex-col h-screen text-center bg-hero-pattern bg-cover lg:bg-contain lg:bg-no-repeat">
    <h2 class="text-3xl mt-20">Menu</h2>
    <section class="flex flex-col items-center mt-40 sm:mt-80">
        <button type="button" class="bg-green-600 text-white rounded-2xl p-2 w-72 mb-4 text-3xl mb-20" (click)="return()" >Return</button>
        <button type="button" class="bg-red-600 text-white rounded-2xl p-2 w-72 mb-4 text-3xl" (click)="logOut()" >Log Out</button> 
    </section>
       
</main>
