<main class="flex w-full justify-between text-3xl mt-4 mb-2 ">
    <section class="ml-4 ">
        <fa-icon [icon]="menu" class="text-gray-500 dark:text-white cursor-pointer relative z-10" (click)="navigateToMenu()" ></fa-icon>
    </section>
    <section>
        <h1 class="text-base  dark:text-white">Hello, {{firstName}}</h1>
    </section>
    <section class="mr-4">
        <fa-icon [icon]="profilePic" class="text-5xl cursor-pointer dark:text-white relative z-10" (click)="navigateToStatusUpdate()"></fa-icon>
    </section>
</main>
