<main class="flex flex-col md:pt-20 items-center h-screen">
    <h1 class="text-6xl font-bold font-login-logo text-black dark:text-white p-12 pt-6">Help Me</h1>
    <section class="flex flex-row h-full">
        <article class="mt-20 sm:ml-4 sm:mr-4 lg:mr-20 hidden sm:block md:block lg:block xl:block h-full">
            <img class="h-2/3 " src="../../../assets/hands.png" />
            <div class="w-full text-center">
                <span class="text-xs">Photo by <a href="https://unsplash.com/@timmossholder?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tim Mossholder</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            </div>            
        </article>
        <article class="flex flex-col justify-around sm:h-auto sm:mt-20 sm:pb-4 text-center sm:bg-none">
            <h3 class="text-3xl text-black dark:text-white">Welcome</h3>
            <h3 class="text-3xl text-black dark:text-white">Create account</h3>
            <section class="flex flex-col items-center">
                <app-login-inputs [title]="titleUserEmail" (getUserInput)="getEmail($event)" ></app-login-inputs>
                <app-login-inputs [title]="titleUserPassword"(getUserInput)="getPassword($event)"></app-login-inputs>
                <p *ngIf="inValidLogin" class="text-md text-red-600">Invalid Login or Password</p>         
            </section>    
            <section class="h-12 flex flex-col justify-around">
                <h3 class="text-3xl cursor-pointer text-black dark:text-white" (click)="login()">Sign In</h3>
            </section>
            <p class="h-12 mb-8">
                <span class="text-gray-400">Don't have an account?</span> 
                <a class="cursor-pointer text-black dark:text-white" (click)="createAccountAndLogin()"> Create</a>
            </p>
        </article>
    </section>
</main>
